#p1{
  background: url("product/full.jpg") no-repeat;
}
#p2{
  background: url("product/large.jpg") no-repeat;
}
#p3{
  background: url("product/img_1709.jpg") no-repeat;
}
#p4{
  background: url("product/andrew.jpg") no-repeat;
}
.product{
  height:800px;
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}