/* cfm's main css */
body{
  font-family: 'Slabo 27px', serif;
  color: #69331f;
  margin: 0;

}
#logo-text {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  color: #F46363;
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Pinyon Script', cursive; */
  font-family: 'Pacifico', cursive;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 50px;
}

div#pricing-section{
  -webkit-columns: 300px;
  -moz-columns: 300px;
  columns: 300px;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;

  width:700px;
  margin: 0 auto;
  padding-top: 100px;
}
.center-text{
  text-align: center;
}
div.price-box{
  color: #FFFFFF;
  height: 200px;
  padding-top: 30px;

  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;

}
div#price-box-1{
  background: #3DA18E;
}
div#price-box-1:hover{
  cursor: pointer;
  background: #2B7769;
}
div#price-box-2{

  background: #815FA8;
}
div#price-box-2:hover{
  cursor: pointer;
  background: #5F487B;
}
div.price-header{
  font-size: 2rem;

}
div.price-number{
  font-size: 4.5rem;
  margin-bottom: 20px;
}
div.price-detail{
  font-size: 1.25rem;
}

div#text-section{
  width: 100%;
  margin-top: 125px;
  background: #FADBDB;
  padding-top: 80px;
  padding-bottom: 80px;
}
div#text-box{
 -webkit-columns: 3 100px;
 -moz-columns: 3 100px;
 columns: 1 100px;
 -webkit-column-gap: 4em;
 -moz-column-gap: 4em;
 column-gap: 4em;
 margin-left: auto;
 margin-right: auto;
 width: 80%;
}
div#text-box h2{
  font-size: 1.70rem;
}

div#text-1>h2{
  margin-top:3px;
}
div#text-2>h2{
  padding-top: 2px;
}
div#text-section p{
  font-size: 20px;
}
div#contact-section{
  width:280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  margin-bottom: 100px;
}
div#contact-section>a{
  width: 250px;
  height:75px;
  text-decoration: none;
  display: block;
  font-size: 2rem;
  padding-top: 35px;
  background: #F46363;
  color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
div#contact-section>a:hover{
  background-color: #C04343;
}
div.clear-float{
  clear: both;
}

div#slogan-section{
 background-image: url("../../products/cfmp2-02.jpg");
 background-size: cover;
 background-attachment: fixed;
 background-repeat: no-repeat;
 width: 100%;
 height: 400px;
 color: white;
 text-align: center;
}
div>h1#slogan{
 padding-top: 150px;
 font-size: 3rem;
}
